@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #222222;
    box-sizing: border-box;
}

input {
    outline: none;
    overflow: hidden;
    border: none;
}

button {
    outline: none;
    overflow: hidden;
    border: none;
}

a {
    text-decoration: none;
    color: #222;
}

li {
    list-style: none;
    font-size: 14px;
    font-weight: 700;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    min-height: 100px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.header__right,
.header__left {
    display: flex;
    align-items: center;
    height: inherit;

}

.header__logo {
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    align-content: center;
    letter-spacing: 0.68px;
}

.header__logo span {
    font-weight: 900;
    color: #f16d7f;
}

.header__logo img {
    margin-right: 13px;
}

.header__search {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    height: 38px;
    margin-left: 37px;
}

.header__search input {
    height: inherit;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    padding-left: 16px;
    padding-right: 78px;
}

.header__search input::placeholder {
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
}

.header__search button {
    height: inherit;
    padding-right: 11px;
    padding-left: 11px;
}

.search__browse {
    height: inherit;
    width: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    padding-left: 15px;
    padding-right: 9px;
    background-color: #f8f8f8;
}

.search__browse i {
    margin-left: 8px;
}

.header__cart {
    margin-right: 26px;
    margin-top: 15px;
}

.header__account {
    background-color: #f16d7f;
    height: 38px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
    padding-left: 19px;
    padding-right: 29px;
}

.header__account i {
    margin-left: 8px;
}

.header-line {
    border-bottom: 1px solid #ececec;
}

.navbar {
    min-height: 51px;
    display: flex;
    justify-content: center;
}

.navbar__menu-list {
    display: flex;
    text-transform: uppercase;
    line-height: 18px;
}

.navbar__menu-item:not(:last-child) {
    margin-right: 48px;
}

.navbar__menu-item>a:hover {
    color: #f16d7f;
}

.brand {
    width: 100%;
    background-color: #e8e8e8;


}

.brand__picture {
    height: 614px;
    border: 1px solid #e8e8e8;
    background: url(../img/Layer_24.jpg);
    background-position: left bottom;
}

.brand__text {
    text-transform: uppercase;
    font-weight: 900;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
    margin-top: 224px;
}

.brand__text-big {
    font-size: 60px;
    letter-spacing: 1.5px;
    line-height: 43px;
}

.brand__text-small {
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 32px;
    margin-top: 18px;
}

.brand__text-small span {
    color: #f16d7f;
}

.hot-square {
    width: 560px;
    height: 542px;
    position: relative;
}

.hot-rectangle {
    width: 560px;
    height: 261px;
    position: relative;
}

.formen {
    background: url(../img/Layer_30.jpg);
}

.accesories {
    background: #dadad2 url(../img/Layer_37.jpg) no-repeat;
    background-position: right top;
}

.women {
    background: url(../img/Layer_32.jpg);
}

.forkids {
    background: url(../img/Layer_31.jpg);
}

.hot {
    height: 823px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 98px;
}

.hot__label {
    position: absolute;
    top: 26px;
    height: 82px;
    width: fit-content;
    background-color: #ffffff;
    text-transform: uppercase;
    padding-left: 19px;
    padding-right: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hot-black {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.45px;
}

.hot-red {
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
}
.fetured {
    margin-top: 100px;
}

.fetured__name {
    text-align: center;
}
.fetured__name h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
}
.fetured__name p {
    margin-top: 0;
    margin-bottom: 60px;
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
}

.fetured__gallery {
    height: 780px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.fetured__gallery-item {
    height: 366px;
    width: 261px;
}
.fetured__gallery-item .pic {
    position: absolute;
}
.fetured__gallery-item .add-cart {
    position: absolute;
    z-index: 999;
    display: none;
}

.fetured__gallery-item:hover {
    box-shadow: 0 5px 5px rgb(182, 182, 182);
    display: ;
}
.fetured__gallery-item:hover .add-cart {
    display: initial;
}

.item-name {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 14px;
    margin-top: 300px;
}

.item-price {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 14px;
    margin-top: 10px;
    margin-bottom: 21px;
}
.fetured__button {
    margin-top: -70px;
    min-height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}
.fetured__button-browse {
    background-color: #f16d7f;
    height: 38px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
    padding-left: 24px;
    padding-right: 19px;
}
.fetured__button-browse i {
    margin-left: 9px;
}
.offer {
    height: 529px;
    margin-bottom: 97px;
}
.offer__doby {
    height: inherit;
    display: flex;
    background-color: #222224;
}
.offer__pic {
    padding-left: 39px;
    height: inherit;
    width: 767px;
    color: #ffffff;
    background: url(../img/Image_offer.jpg) no-repeat;
}

.offer__pic-offer {
    margin-top: 132px;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.offer__pic-offer span {
    color: #f16d7f;
}

.offer__pic-women {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.offer__detales {
    height: inherit;
    width: 373px;
    display: flex;
    flex-direction: column;
}

.offer__detales-item {
    display: flex;
    justify-content: space-between;
}
.offer__detales-icon {
    margin-top: 46px;
    margin-left: 30px;
}

.offer__detales-text {
    width: 252px;
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}
.offer__detales-text h3 {
    margin-left: 2px;
    margin-top: 55px;
    margin-bottom: 0;
}
.offer__detales-text p {
    width: 219px;
    margin-top: 0;
}
.subscribe {
    min-height: 438px;
    background: url(../img/Layer_41.jpg) no-repeat center #f2f2f2;
}
.subscribe__box {
    display: flex;
    height: inherit;
    
}
.subscribe__comment {
    min-height: 438px;
    width: 570px;
    display: flex;
    border-right: 1px solid #ffffff;
}
.subscribe__comment img {
    margin-top: -110px;
    margin-right: 28px;
    object-fit: none;
}

.text {
    margin-top: 123px;
    width: 386px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.4px;
    font-style: italic;
}

.name {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
    color: #f16d7f;
}

.adress {
    margin-top: 0;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 14px;
    color: #222224;
}

.subscribe__mail {
    width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 146px;
    margin-bottom: 0;
    color: #222224;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.for {
    margin-top: 8px;
    margin-bottom: 32px;
    letter-spacing: 0.35px;
    font-size: 14px;
    font-weight: 700;
    color: #222224;
}

.mail_subscribe {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 23px;
    height: 46px;
}

.mail_subscribe input {
    height: inherit;
    padding-left: 28px;
    padding-right: 78px;
    background-color: #e1e1e1;
}

.mail_subscribe input::placeholder {
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
}

.mail_subscribe button {
    height: inherit;
    padding-right: 20px;
    padding-left: 21px;
    background-color: #f16d7f;
}
.bottom {
    min-height: 338px;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 2.3fr 1fr 1fr 1fr;
}

.bottom__brand {}

.bottom__logo {
    color: #3e3e40;
    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.68px;
    display: flex;
    align-items: center;
}
.bottom__logo img {
    margin-right: 13px;
}
.bottom__logo span {
    color: #f16d7f;
    font-weight: 900;
    letter-spacing: 0.68px;
}

.bottom-text {
    width: 427px;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}

.bottom__menu {
    display: flex;
    flex-direction: column;
}

.bottom-title {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}

.bottom__list {
    padding-left: 0;
}
.bottom__item {
    margin-bottom: 18px;
}

.bottom__item a{
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    
}

.footer {
    min-height: 79px;
    background-color: #e6e6e6;
}
.footer__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 79px;
}

.footer__copyright {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.footer__links {
    display: flex;
    flex-direction: row;
}

.footer-link {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #b2b2b2;
    line-height: 34px;
    margin-left: 8px;
}

.footer-link:hover {
    background-color: #f16d7f;
    color: #f7f7f8;
}
