@media screen and ( max-width: 1199px )
    .container
        padding: 0 10px

@media screen and ( max-width: 991px )
    .container
        padding: 10px 10px
    .header
        flex-direction: column
        align-items: center
        &__left
            flex-direction: column
        &__search
            margin: 20px 0
            height: 52px
            input
                padding-right: 150px
                padding-left: 24px
                &::placeholder
                    font-size: 22px
            button
                padding: 0 14px
                font-size: 20px
    .search__browse
        font-size: 22px
        line-height: 44px
        padding-left: 20px
        padding-right: 40px

@media screen and ( max-width: 767px )
    .header__left
        width: 100%
    .header__search
        width: inherit
        justify-content: space-between
        input
            width: 100%
            padding-right: 0
            padding-left: 20px
@media screen and ( max-width: 575px )
    .header__search
        justify-content: space-between
        input
            width:  100%
            padding-right: 0
            padding-left: 10px

